[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dgraphs"]
	path = dgraphs
	url = https://github.com/pgajer/dgraphs
[submodule "grip"]
	path = grip
	url = https://github.com/pgajer/grip
[submodule "linf"]
	path = linf
	url = https://github.com/pgajer/linf
